<div class="episode" style="padding: 50px; margin: 50px;">
{{#link-to 'episode' episode.id}}
  <h3>{{episode.title}}</h3>
{{/link-to}}
<h4>{{episode.user.email}}</h4>
  <h5>{{moment-format episode.date 'MMMM YYYY'}} | {{episode.why}}</h5>
</div>
