<h4>Made it!</h4>
<button class="btn btn-default" {{action 'newRelationship' model.fellowUserId}}>Follow</button>
<button class="btn btn-default" {{action 'deleteRelationship' model.fellowUserId}}>Unfollow</button>
