<div class="container">
<div class="row">
  <div class="col-sm-12">
  {{!-- <p style="font-size: 11px;">(event: {{event.id}}) {{event.title}}: new comment!!!</p> --}}
  <form {{action 'newComment' event on='submit'}}>
    <hr>
      <div class="col-sm-10">
        {{input placeholder='Add a comment...' value=newCommentObj.body}}
      </div>
        <button class="btn btn-default" style="float: right;" type='submit'>Comment</button>
  </form>
</div>
</div>
</div>
