@import "ember-bootstrap/bootstrap";

body {
  background: #def3f9;
  padding: 0px;
}

// .container-fluid {
//   padding: 0
// }

.episode {
  background: white;
  border: 1px solid gray;
  padding: 50px;
  margin: 50px;
}
