<h2>Events: {{user}}</h2>
{{new-event create='createEvent'}}
{{#each model as |event|}}
  {{event-summary event=event
                  deleteSingleEvent='destroyEvent'
                  deleteSingleComment='destroyComment'
                  addSingleComment='createComment'
                  updateComment='updateComment'
                  refresh='refresh'
}}
{{/each}}
{{outlet}}
