<h2>Events: {{user}}</h2>
{{new-event create='createEvent'}}
{{#each model as |event|}}
  {{event-summary event=event
                  comment=event.comment
                  deleteSingleEvent='destroyEvent'
                  deleteSingleComment='destroyComment'
                  addSingleComment='createComment'
}}
{{/each}}
