
{{new-event create='createEvent'}}
<h2 class="text-center">Your Events</h2>
{{#each model as |event|}}
  {{event-summary event=event
                  deleteSingleEvent='destroyEvent'
                  deleteSingleComment='destroyComment'
                  addSingleComment='createComment'
                  updateComment='updateComment'
                  refresh='refresh'
}}
{{/each}}
{{outlet}}
