<div class="container">
  <div class="col-sm-6">
  <h3>Following:</h3>
{{#each model.activeRelationships as |activeRelationship|}}
  <h4>{{#link-to "user" activeRelationship.followed_id}}{{activeRelationship.followed}} {{activeRelationship.id}}{{/link-to}}

    {{#if (eq activeRelationship.follower_id model.currentUserId)}}
    <button class="btn btn-default" type='submit' {{action 'destroyRelationship' activeRelationship.id}}>Unfollow</button>
    {{/if}}
  </h4>
{{/each}}
</div>
<div class="col-sm-6">
  {{!-- Displays all the friends that are following this user --}}
  <h3>Followers</h3>
  {{#each model.passiveRelationships as |passiveRelationship|}}
    <h4>{{#link-to "user" passiveRelationship.follower_id}}{{passiveRelationship.follower}}{{/link-to}}</h4>
  {{/each}}
</div>
</div>
