{{outlet}}
<div class="container">
<h1 class="text-center">Wait. What have you done...?</h1>
<p>
<strong>Wait But Why</strong> is a microblogging and social media platform that allows users to tell a story about their life via a timeline of events. Sort of an off-beat LinkedIn. Users create posts called Events which recall past moments when he or she did something - anything really. However, in contrast to LinkedIn where one details the accomplishments or growth of a life event, users will explain why the event happened, using one of three tags: <strong>“It was something I wanted to do”</strong>, <strong>“I felt like I had to”</strong>, or <strong>“I had no control over it”</strong>, and then further providing their thoughts on the event.
</p>
<p>
The concept of <strong>Wait But Why</strong> is to focus on the circumstances that brought the user to that life event and ultimately where they are today. The platform encourages one to build their timeline with any type of event that was significant and involved the actions of the user - a breakup with a partner, moving to a far away location, quitting their job, lying to a friend. Anything really.
</p>
</div>
{{call-to-action}}
