{{outlet}}
<header>
  {{!-- <div class="container-fluid"> --}}
    <div class="row">
      <div class="header-text">
<h1>Wait.<br>What have you done...?</h1>
<hr>
<p>
<strong>Wait But Why</strong> is a microblogging and social media platform that allows a user to tell a story about their life via posts called Events. Each Event chronicles a moment in which the user had done something. Anything really. However, unlike LinkedIn, he or she is encouraged to examine why the event even happened in the first place.
</p>
<p>
  The concept of <strong>Wait But Why</strong> is to focus on the circumstances that brought the users to key moments in their lives and ultimately where they are today.
</p>
{{call-to-action}}
</div>
</div>
{{!-- </div> --}}
</header>
