{{outlet}}
<div class="container">
<h1 class="text-center">Wait. What have you done...?</h1>
<p>
Wait But Why is a microblogging and social media platform that allows users to tell a story about their life via a timeline of events. Sort of an off-beat LinkedIn. Users have posts called Events about their life where they did something - anything really. However, in contrast to LinkedIn where one details the accomplishments or growth of a life episode, users will explain why the episode happened, using one of three tags: “It was something I wanted to do”, “I felt like I had to”, or “I had no control over it”, and then further providing a description with their thoughts on the event.
</p>
<p>
The concept of Wait But Why is to focus on the circumstances that brought the user to that life episode and ultimately where they are today. The platform encourages one to build their timeline with any type of episode that was significant and involved the actions of the user - a breakup with a partner, moving to a far away location, quitting their job, lying to a friend.
</p>
</div>
<div class="text-center">
{{#link-to 'sign-up'}}
  <button class="btn btn-default" type='submit'>Sign Up</button>
{{/link-to}}
{{#link-to 'sign-in'}}
  <button class="btn btn-default" type='submit'>Sign In</button>
{{/link-to}}
</div>
