<h2>This User's Events</h2>
{{#each model as |event|}}
  {{event-summary event=event
                  comment=event.comment
                  deleteSingleEvent='destroyEvent'
                  addSingleComment='createComment'
  }}
{{/each}}
